spring:
  application:
    name: fn-reservation-service

server:
  shutdown: graceful

database:
  dynamo:
    region: ap-northeast-2
    host: https://dynamodb.ap-northeast-2.amazonaws.com

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
  logging:
    export:
      enabled: false
  atlas:
    metrics:
      export:
        enabled: false

logging:
  level:
    root: info

otel:
  exporter:
    otlp:
      endpoint: http://jaeger-inmemory-instance-collector.observability.svc.cluster.local:4318

  resource:
    attributes:
      deployment.environment: prd
      service:
        name: fn-reservation-service
        namespace: final-nine
