<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 전체 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Ktor의 로그 레벨 설정 -->
    <logger name="io.ktor" level="INFO"/>
</configuration>
